[submodule "lib/Code/ObliviousHangman"]
	path = lib/Code/ObliviousHangman
	url = https://github.com/ObliviousReality/ObliviousHangman.git
	branch = Website
[submodule "lib/Code/HexOfLife"]
	path = lib/Code/HexOfLife
	url = https://github.com/ObliviousReality/HexOfLife.git
[submodule "JS-Games"]
	path = JS-Games
	url = https://github.com/ObliviousReality/JS-Games.git
[submodule "ASOSWrapped2024"]
	path = ASOSWrapped2024
	url = https://github.com/ObliviousReality/ASOSWrapped2024.git
