body {
    background-color: #121212;
    color: white;
    font-family: Bahnschrift;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "myEpicFont";
    src: url("lib/boldfinger.ttf");
}


.sidenav {
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6B16A2;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav h3 {
    text-align: center;
    padding: 40px 8px 40px 16px;
    text-decoration: none;
    font-size: 2vw;
    color: white;
    display: block;
    margin: 0;
}

.sidenav button {
    text-align: center;
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav h3:hover {
    background-color: #121212;
    color: #e32128;
    cursor: pointer;
}

.tabContent {
    margin-left: 13%;
    padding: 0px 10px;
    display: none;
}

@media only screen and (max-width: 600px) {
    .sidenav {
        padding-top: 15px;
    }
}

.icon {
    margin: auto;
    border-radius: 15px;
    width: 75%;
    padding-bottom: 75%;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.icontext {
    font-family: myEpicFont;
    font-size: 4vw;
    padding-top: 75%;
    position: absolute;

    display: inline;
}

.icontext .O {
    display: inline-flex;
    padding: 0;
    margin: 0;

    color: #e32128;
}

.icontext .R {
    display: inline-flex;
    padding: 0;
    margin: 0;
    color: #6B16A2;
}

.selected {
    background-color: #121212;
    color: red;
}



.funkyText>h3 {
    font-size: 6vw;
    margin: 0;
    transition-duration: 0.5s;
}

.portf>ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2.5rem;
    padding: 0;
    padding-right: 2.5%;
    padding-left: 2.5%;
}

.portf>ul>li {
    background-color: #181818;
    border: 1px solid #6B16A2;
    border-radius: .5rem;
    color: transparent;
    padding: 0;
    margin: 5%;
    transition-duration: 0.25s;
}

.portf>ul>li:hover {
    background-color: #303030;
}

.portf>ul>li>figure {
    margin: 0;
    max-height: 280px;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    position: relative;
}

.portf>ul>li>figure>img {
    width: 100%;
}

.portf>ul>li>figure>figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(107, 22, 162, .9);
    width: 100%;
}

.portf>ul>li>figure>figcaption>h3 {
    color: white;
    padding-left: .5rem;
    font-size: 1.25rem;
}

.portf>ul>li>p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 .75rem;
    color: #cccccc;
}

.portf>ul>li>a {
    padding: .5rem 1rem;
    margin: .5rem;
}


@media only screen and (min-width: 768px) {

    .portf>ul>li:hover {
        margin: 0;
    }

    .funkyText {
        padding-left: 15%;
        padding-right: 15%;
    }

    .funkyText>h3 {
        font-size: 4vw;
    }

    .funkyText>h3:hover {
        font-size: 5vw;
    }

}
