 * {
     box-sizing: border-box;
 }

 body {
     font-family: Bahnschrift;
     margin: 0;
     overflow-x: hidden;
     background-color: #121212;
 }

 a {
      text-decoration:none;
   }

 .header {
     margin: auto;
     padding: 1%;
     text-align: center;
     background-color: #121212;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .bannerButton {
     border: none;
     color: black;
     background-color: #6B16A2;
     padding: 10px 5px;
     font-size: 36px;
     cursor: pointer;
     outline: none;
     display: block;
     float: left;
     transition-duration: 0.4s;
     font-family: Bahnschrift, sans-serif;
 }

 .bannerButton:hover {
     color: red;
     background-color: #6B16A2;
 }

 .banner {
     padding: 0px;
     background-color: #6B16A2;
     margin: auto;
 }

 .bannerTable {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     border-collapse: collapse;
     border-spacing: 0;
     border: 0px;
     padding: 0px;
 }

 .bannerHeader {
     border-collapse: collapse;
     border-spacing: 0;
     border: 0px;
     padding-right: 25px;
 }

 .row {
     display: flex;
     flex-wrap: wrap;
 }

 .side {
     flex: 20%;
     background-color: #121212;
     padding: 0px;
 }

 .center {
     flex: 60%;
     width: 60%;
     background-color: white;
     padding: 20px;
     text-align: center;
     border-radius: 10px 10px 10px 10px;
 }

 .top p {
     font-size: 18px;
 }

 .center h3 {
     margin-bottom: 0px;
     font-size: 25px;
 }

 .mainImg {
     background-color: blanchedalmond;
     width: 100%;
     padding: 20px;
 }

 button {
     border: none;
     color: black;
     background-color: purple;
     text-decoration: none;
     padding: 10px 5px;
     font-size: 36px;
     cursor: pointer;
     outline: none;
     display: block;
     float: left;
     transition-duration: 0.4s;
     font-family: Bahnschrift, sans-serif;
 }

 button:hover {
     background-color: white;
 }

 table {
     border-spacing: 0px;
 }

 th {
     padding-right: 25px;
     border: 0px;
 }

 @media screen and (max-width:700px) {

     .row,
     .navbar {
         flex-direction: column;
     }
 }

 #about {
     font-size: 0;
     background-color: white;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     font-family: Bahnschrift, sans-serif;
     border-radius: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
 }

 #about>div {
     display: inline-block;
     font-size: 18px;
     padding-left: 30px;
     text-align: left;
 }

 #contact {
     text-align: center;
     margin: auto;
     font-size: 0px;
     padding-bottom: 15%;
     padding-top: 1%;
     display: block;
     background-color: royalblue;
     border-radius: 10px;
 }

 #contact>h3 {
     font-size: 30px;
 }

 #contact>p {
     font-size: 15px;
     margin: 0;
 }

 #contact>div {
     display: block;
     font-size: 20px;
 }

 .twitter {
     width: 30px;
     background-image: url("imgs/twitter.png");
     z-index: 0;
     overflow: hidden;
 }

 .linkedin {
     background-image: url("imgs/linkedin.png");
     z-index: 0;
     overflow: hidden;
 }

 .youtube {
     background-image: url("imgs/youtube.png");
     z-index: 0;
     overflow: hidden;
 }

 .github {
     background-image: url("imgs/github.png");
     z-index: 0;
     overflow: hidden;
 }

 .email {
     background-image: url("imgs/email.png");
     z-index: 0;
     overflow: hidden;
 }

 .logo {
     background-image: url("imgs/banner.png");
     z-index: 0;
     overflow: hidden;
 }

 .squarea {
     width: 70%;
     text-align: center;
     margin: auto;
     padding-top: 1%;
 }

 .square {
     float: left;
     position: relative;
     width: 15%;
     padding-bottom: 15%;
     margin: 1% 2.5%;
     overflow: hidden;
     background-color: transparent;
     border-radius: 10px 10px 10px 10px;
     border: 2px solid #121212;
     background-color: #202020;
 }

 .content {
     position: absolute;
     height: 90%;
     width: 90%;
     padding: 10% 5%;
     text-align: center;
 }

 .ctable {
     display: table;
     height: 100%;
     width: 100%;
 }

 .ctablecell {
     display: table-cell;
     vertical-align: middle;
     height: 100%;
     width: 100%;
     color: red;
     font-size: 0%;
     z-index: 1;

 }

 .bg {
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
 }
